[submodule "Library/PCB_Library"]
	path = Library/PCB_Library
	url = https://github.com/DiegoFort3/KiCad_Libraries.git
[submodule "Libray"]
	path = Libray
	url = https://github.com/DiegoFort3/KiCad_Libraries.git
